.hero-section {
    text-align: center;
    padding: 111px 0px 120px 0px;
    color: #ffffff;
  }
  .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 0px 0px;
    gap: 10px;
  }
  .highlight {
    color: #3a6df0;
    font-weight: bold;
    font-size: 1.5em;
  }
  .couple-btn{
    background-color:#000814;
    border-style: none;
    
  }
  
  .button-group {
    margin:45px 0;
  }
  
  .discord-button, .launch-button {
    background-color: #3a6df0;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  
  .icons-group img {
    height: 70px;
    /* margin: 10px; */
  }
  