/* Wrapper for centering with margins */
/* .header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0d0d0d; 
  } */
.tex-align{
  font-size: 18px;
  padding-top: 18px;
}
.navigation-bar {
  display: flex;
  align-items: center;
  /* padding: 12px 12px; */
  color: #ffffff;
  /* margin-left: 41rem; */
  border-bottom: 2px solid #fff;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 8px;
  /* width: 725px; */
  /* height: 52px; */
  /* max-width: 832px; */
}
  
.logo img {
  height: 48px;
 
  
}
  
  .menu-items {
    display: flex;
    gap: 20px;
    flex-grow: 1;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    color: #ffffff;
    /* font-weight: bold; */
    text-decoration: none;
  }
  
  .menu-item .icon {
    margin-right: 5px;
  }
  
  .discord-icon {
   height: 64px;
   width: 64px;
    padding: 0px;
    display: flex;
    align-items: center;
    
  }
  
  .discord-icon .icon {
    color: #ffffff;
    font-size: 24px;
  }
  .discover-image{
   
    width: 55px;
  }